.content-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/images/content.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(7, 7, 171);
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-div {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  align-items: center;
}
.content-div {
  h4 {
    color: white;
    width: 300px;
    font-weight: 300;
    font-size: 0.8rem;
  }
  h1 {
    color: white;
    font-weight: 500;
    font-size: 1rem;
  }
}

/* Tablets*/
@media (min-width: 768px) and (max-width: 1024px) {
  .content-div {
    h4 {
      color: white;
      width: 500px;
      font-weight: 400;
      font-size: 1.2rem;
    }
    h1 {
      color: white;
      font-weight: 500;
      font-size: 1.5rem;
    }
  }
}

/* Desktop */
@media (min-width: 1025px) {
  .content-div {
    h4 {
      color: white;
      width: 500px;
      font-weight: 400;
      font-size: 1.2rem;
    }
    h1 {
      color: white;
      font-weight: 500;
      font-size: 1.9rem;
      width: 400px;
    }
  }
}